<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GRANTT</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Forside</a>
        <a href="/user">Users</a>
        <a href="/task">Tasks</a>
    </div>
      
    <table>
        <tr>
            <th>ID</th>
            <th>TaskName</th>
    <%
        const dt = new Date();
        const day = dt.getDate();
        const month = dt.getMonth() + 1;
        const year = dt.getFullYear();
        const daysInMonth = new Date(year, month, 0).getDate();

        for (let i = 1; i <= daysInMonth; i++) {
            %>
                <th><%=i +"/"+month%></th>
            <%
        }
    %>
        </tr>
        <%
        data.forEach(v => { 
            let btime = v.beginTime.setDate(v.beginTime.getDate()+1)
            btime = new Date(btime).toISOString().slice(8, 10)

            let etime = v.endTime.setDate(v.endTime.getDate()+1)
            etime = new Date(etime).toISOString().slice(8, 10)
        %>
            <tr>
            <th><%=v.taskID%></th>
            <th> 
                <form action="gantt" method="post">
                    <input type="hidden" name="taskID" value="<%=v.taskID%>">
                    <input type="submit" name="taskName" value="<%=v.taskName%>">
                </form>
            </th>    
        <%
            for (let i = 1; i < daysInMonth+1; i++) {
                if(parseInt(btime) <= i && parseInt(etime) >= i){
                    if(day == i){    
                        %> 
                        <td style="background-color: pink;"></td>
                        <% 
                    }
                    else{
                        %> 
                        <td style="background-color: white;"></td>
                        <% 
                    }
                }
                else{
                    if(day == i){    
                        %> 
                        <td style="background-color: red;"></td>
                        <% 
                    }
                    else{
                        %> 
                        <td></td>
                        <% 
                    }
                }
            }
        });
        %>
        </tr>
    </table>
        <h1>Find tasks connected to a user</h1>
    <table>
        <tr>
            <th>User ID</th>
        </tr>
        <form action="printTask" method="post">
            <td><input type="text" name="id" value=""></td>
            <td><input type="submit" value="Submit"></td>
        </form>
    </table>

        <h1>Find users connected to a task</h1>
    <table>
        <tr>
            <th>Task ID</th>
        </tr>
        <form action="printUser" method="post">
            <td><input type="text" name="id" value=""></td>
            <td><input type="submit" value="Submit"></td>
        </form>
    </table>
</body>
</html>